<?xml version="1.0"?>
<launch>
  	<env name="ROSCONSOLE_CONFIG_FILE" value="$(find kugle_gazebo)/config/rosconsole.conf"/>

	<!-- Based on https://github.com/ros/urdf_sim_tutorial/blob/master/launch/gazebo.launch from the guide http://wiki.ros.org/urdf/Tutorials/Using%20a%20URDF%20in%20Gazebo -->

	<arg name="world_name" default="control_lab" />
	<arg name="gui" default="true" /> <!-- whether to display Gazebo GUI (rendering) or not (run headless) -->

	<!-- Default starting position of robot -->
	<arg name="x" default="0" />
	<arg name="y" default="0" />

	<!-- Open Gazebo with specified World model -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find kugle_gazebo)/worlds/$(arg world_name).world"/>
		<arg name="gui" value="$(arg gui)"/>
		<arg name="debug" value="false" />
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="headless" value="$(eval not arg('gui'))"/>
	</include>	

	<!-- urdf xml robot description loaded on the Parameter Server (for use in RViz) - this also converts the xacro into a proper urdf file -->
	<param name="robot_description" command="$(find xacro)/xacro '$(find kugle_sim_description)/urdf/kugle_rviz.xacro'" />
	<param name="robot_description_rviz" command="$(find xacro)/xacro '$(find kugle_sim_description)/urdf/kugle_rviz.xacro'" />
	<param name="use_gui" value="$(arg gui)"/>

	<!-- Spawn Kugle robot in Gazebo -->
	<node name="kugle_spawn" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model kugle -x $(arg x) -y $(arg y) -z 0.2" respawn="false" output="screen" /> <!-- make sure model name matches the robot name in the xacro file -->	

	<!--<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">	
		<remap from="/joint_states" to="/kugle/joint_states" />
	</node>-->

	<!-- calculate and publish the tf's for each joint based on the urdf file within robot_description -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
		<param name="publish_frequency" type="double" value="200" /> <!-- Should match Odometry rate set in "gazebo.xacro" -->
		<remap from="/joint_states" to="/joint_states" /> <!-- if the namespace is changed then it is important to change this line such that the namespaces /ns/joint_states is remapped to just /joint_states -->
	</node>

	<!-- Convert depth image from RGBD camera into registered (hence colored) pointcloud -->
	<include file="$(find kugle_gazebo)/launch/depth_proc.launch" />

	<!-- rviz display -->
	<node name="rviz_visualizer" pkg="rviz" type="rviz" required="true" args="-d $(find kugle_sim_description)/rviz/tf_display.rviz"/>

</launch>
