<?xml version="1.0"?>
<robot name="pedestrian" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- Visual and physical properties -->
	<!-- See http://gazebosim.org/tutorials?tut=ros_urdf&cat=connect_ros -->
	<gazebo reference="contact_point">
		<mu1>0.0</mu1>
		<mu2>0.0</mu2>
		<!--<kp>1000000.0</kp>
		<kd>100.0</kd>-->
		<minDepth>0.001</minDepth>
		<maxVel>100.0</maxVel>
	</gazebo>

	<gazebo reference="base_link">
		<mu1 value="0.0"/> <!-- Columb friction coefficient in fdir1 direction -->
		<mu2 value="0.0"/> <!-- Columb friction in perpendicular direction to fdir1 -->
		<!--<kp  value="10000000.0" />--> <!-- contact stiffness -->
		<!--<kd  value="1.0" />--> <!-- contact damping -->
		<material>Gazebo/Grey</material>
		<!--<turnGravityOff>true</turnGravityOff>-->
	</gazebo>

	<!-- We need to link Gazebo and ROS and let Gazebo load all the previously defined ROS parameters. Therefore this Gazebo file should be included in the end of the main xacro file! --> 

	<!-- Link Gazebo and ROS through plugins -->
	<!-- See http://gazebosim.org/tutorials?tut=ros_gzplugins -->
	<gazebo>
		<!-- https://github.com/tu-darmstadt-ros-pkg/hector_gazebo/blob/indigo-devel/hector_gazebo_plugins/src/gazebo_ros_force_based_move.cpp -->
		<plugin name="position_controller" filename="libgazebo_position_control.so">			
			<commandTopic>cmd_quaternion</commandTopic>
			<worldFrame>world</worldFrame>
			<contactPointLink>contact_point</contactPointLink>
			<cmdTimeout>1.0</cmdTimeout>
		</plugin>
	</gazebo>

</robot>
